# Data Types and Structures Questions

1. What are data structures, and why are they important?
  - Data structures are specialized formats for organizing, storing, and accessing collections of data.
  They are useful as they provide efficient ways to manage information based on its characteristics and intended use.

2. Explain the difference between mutable and immutable data types with examples.

  - Mutable data types are those whose values or contents can be modified in-place after they have been initialized. Example List

        my_list = [1, 2, 3]
        my_list.append(4)  # Modifies the original list
        print(my_list)  # Output: [1, 2, 3, 4]
  - Immutable data types are those whose values or contents cannot be changed after they are created. Example Strings

        my_string = "hello"
        my_string += " world"  # Creates a new string object "hello world"
        print(my_string)  # Output: hello world
  
3. What are the main differences between lists and tuples in Python?
  - List is mutable whereas tuples are immutable

4. Describe how dictionaries store data.
  - Dictionaries store the data in the form of key value pair. Key has to be unique.

5. Why might you use a set instead of a list in Python?
  - Set can be used if we need a collection where duplicate values should be automatically removed. Lists, on the other hand, allow for duplicate elements.

6. What is a string in Python, and how is it different from a list?
  - In Python, a string is an immutable sequence of characters, used to represent text. Strings are enclosed in single quotes ('...'), double quotes ("..."), or triple quotes ('''...''' or """...""") for multi-line strings.
  - A list in Python is a mutable, ordered sequence of items. Lists are enclosed in square brackets ([...]), and their elements can be of various data types, including other lists.

7. How do tuples ensure data integrity in Python?
  - tuples ensure data integrity in Python as they are immutable. This characteristic means that once a tuple is created, its elements cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that implements an associative array or dictionary, which maps keys to values. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found.

9. Can lists contain different data types in Python?
  - Yes

10. Explain why strings are immutable in Python.
  - Strings are immutable in Python, meaning their content cannot be changed after they are created.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries store the value in key value pair which could help in fast lookups.

12. Describe a scenario where using a tuple would be preferable over a list.
  - Storing the employee id of all the employees which once created canot be modified afterwards.

13. How do sets handle duplicate values in Python?
  - Sets automatically removes the duplicate value and only stores the unique elements.

14. How does the “in” keyword work differently for lists and dictionaries
  - The "in" keyword checks for the presence of a specific element within the list.
  - The "in" keyword checks for the presence of a specific key within the dictionary. It does not directly check for values.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No the elements of a tuple cannot be modified because it is immutable. Modifying the elements of tuple will give error.

16. What is a nested dictionary, and give an example of its use case?

  - Dictionary inside a Dictionary is nested Dictionary.
  Use case could be the storing the resturant menu.
  Example:

  restaurant_menu = {
    "Butter Chicken": {
        "description": "Creamy tomato-based curry with tender chicken pieces.",
        "price": 450,
        "ingredients": ["chicken", "tomatoes", "cream", "spices"],
        "vegetarian_option": False
    },
    "Vegetable Stir-Fry": {
        "description": "Fresh mixed vegetables stir-fried with your choice of sauce.",
        "price": 300,
        "ingredients": ["broccoli", "carrots", "bell peppers", "soy sauce"],
        "vegetarian_option": True,
        "vegan_option": True
    }
}

17. Describe the time complexity of accessing elements in a dictionary.
  - It typically has an average time complexity of O(1), also known as constant time.

18. In what situations are lists preferred over dictionaries.

  - Lists are preferred over dictionaries in situations where:
  Order of elements is important,

  Elments are not uniquely identifiable by a key

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  -Dictionaries are considered unordered because they don't store items in a specific sequence based on insertion order or any other predefined order. Instead, they are optimized for fast key-based lookups. This means you can't rely on the order in which you added items to a dictionary when retrieving them, but you can quickly access a value using its corresponding key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - For List - If an element needs to be found by its value rather than its index, a list typically requires a linear search, iterating through each element until the desired value is found. This can be less efficient for large lists.

  For Dictionary - Dictionaries utilize a hashing mechanism to quickly map keys to their values. This allows for very efficient, near-constant-time retrieval, regardless of the dictionary's size, as long as the key is known.

In [ ]:
#1. Write a code to create a string with your name and print it.

name = "Sumit Kumar"
print(name)

Sumit Kumar

In [ ]:
#2. Write a code to find the length of the string "Hello World".

str = "Hello World"
length = len(str)
print(length)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

str = "Python Programming"
slice = str[:3]
print(slice)

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.

str = "hello"
str = str.upper()
print(str)

HELLO

In [1]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

str = "I like apple"
str = str.replace("apple", "orange")
print(str)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it

lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [1]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [3]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t = ('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

In [4]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t = (10,20,5,15)
print(min(t))

5

In [5]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [7]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruit = ('mango', 'banana', 'kiwi')
print('kiwi' in fruit)

True

In [11]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s={'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [12]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [14]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [15]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1 = {1,2,3}
s2 = {3,4,5}
print(s1|s2)

{1, 2, 3, 4, 5}

In [16]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1 = {1,2,3}
s2 = {2,3,4}
print(s1&s2)

{2, 3}

In [17]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {"name" : "Sumit", "age" : 32, "city" : "New Delhi"}
print(my_dict)

{'name': 'Sumit', 'age': 32, 'city': 'New Delhi'}

In [23]:
# 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name" : "John", "age" : 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

dict = {"name" : "Alice", "age" : 30}
print(dict["name"])

Alice

In [25]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [29]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [10]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all

lst = [1,2,3,4,5]
print(lst)
t = (1,2,3,4,5)
print(t)
d = {1:1, 2:4, 3:9}
print(d)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1: 1, 2: 4, 3: 9}

In [32]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

lst = [25,79,36,131,2]
lst.sort()
print(lst)

[2, 25, 36, 79, 131]

In [33]:
# 28. Write a code to create a list with strings and print the element at the third index

lst = ["Ajay", "Bijay", "Sanjay", "Bijay", "Sanjay"]
print(lst[2])

Sanjay

In [35]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"name" : "Sumit", "age" : 32}
dict2 = {"city" : "New Delhi", "country" : "India"}
dict1.update(dict2)
print(dict1)

{'name': 'Sumit', 'age': 32, 'city': 'New Delhi', 'country': 'India'}

In [9]:
# 30. Write a code to convert a list of strings into a set.

lst = ["Ajay", "Bijay", "Sanjay", "Bijay", "Sanjay"]
print(lst)
print(set(lst))

['Ajay', 'Bijay', 'Sanjay', 'Bijay', 'Sanjay']
{'Sanjay', 'Ajay', 'Bijay'}